@media print {
  .social-buttons {
    a {
      display: block;
      font-family: $font-family-base;
      font-size: $font-size-base;
      height: inherit;

      .fa {
        line-height: inherit;
        margin-right: 20px;
      }
    }
  }
}
