@import 'variables';

// Global
body {
  color: $color-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  padding-bottom: 3 * $block-margin;
  padding-top: 3 * $block-margin;

  // preloading images
  &::after {
    content: url('../images/twitter-bird-sprite.png');
    display: none;
  }
}

strong {
  font-weight: $font-weight-strong;
}

h1 {
  color: $color-header;
  font-size: $font-size-h1;
  font-weight: $font-weight-strong;
  margin-top: $block-margin;
}

// Avatar
.avatar {
  width: $avatar-size;

  &.inverse {
    transform: rotate(180deg);
  }
}

// Facts
.facts {
  margin-top: 2 * $block-margin;

  > li {
    margin-bottom: .25em;

    .fa-li {
      color: lighten($color-base, 25%);
      margin-top: 2px;
    }
  }
}

// Social buttons
.social-buttons {
  margin-top: $block-margin;

  a {
    border-color: transparent;
    border-radius: 50%;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: ($social-buttons-size - 4) / 2;
    height: $social-buttons-size;
    margin-right: ($font-size-base / 2) - 3;
    padding: 0;
    width: $social-buttons-size;

    i.fa {
      line-height: $social-buttons-size;
    }

    &.twitter {
      background-color: $color-twitter;
    }

    &.github {
      background-color: $color-github;
    }

    &.facebook {
      background-color: $color-facebook;
    }

    &.tumblr {
      background-color: $color-tumblr;
    }

    &.xing {
      background-color: $color-xing;
    }

    &.linkedin {
      background-color: $color-linkedin;
    }
  }

  a {
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #fff;
    }
  }
}

div.tooltip {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: 0.72rem;

  .tooltip-inner {
    background-color: $color-twitter;
  }
  &.bs-tooltip-top .arrow::before {
    border-top-color: $color-twitter;
  }
}

// Bird move animation
#twitter-bird-box {
  display: none;
  width: 30px;
  height: 30px;
}

#twitter-bird {
  display: none;
  background-image: url(../images/twitter-bird-sprite.png);
  background-size: 120px 30px;
  height: 30px;
  width: 30px;
}

.twitter-bird-fly {
  animation: fly 0.2s steps(3) 18;
}

@keyframes fly {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -90px 0;
  }
}

.twitter-bird-move {
  position: relative;
  animation: bird-move 3s steps(100) 1 forwards;
}

@keyframes bird-move {
  0% {
    top: 0px;
    left: 0px;
    transform: scaleX(1);
  }
  59% {
    transform: scaleX(1);
  }
  60% {
    top: -35px;
    left: 300px;
    transform: scaleX(-1);
  }
  100% {
    top: -66px;
    left: 148px;
    transform: scaleX(-1);
  }
}

// Footer
footer .content {
  border-top: 1px solid $color-footer-separator;
  color: $color-footer;
  font-size: $font-size-footer;
  margin-top: 1.5 * $block-margin;
  padding-top: $block-margin;
}

// center elements on big screens
@media screen and (min-width: 768px) {
  .name {
    margin-top: 0;
  }
}

@import 'print';
