@import 'variables';

// Global
body {
  color: $color-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  padding-bottom: 3 * $block-margin;
  padding-top: 3 * $block-margin;

  // preloading images
  &::after {
    content: url('../images/twitter-bird-sprite.png');
    display: none;
  }
}

strong {
  font-weight: $font-weight-strong;
}

h1 {
  color: $color-header;
  font-size: $font-size-h1;
  font-weight: $font-weight-strong;
  margin-top: $block-margin;
}

// Avatar
.avatar {
  width: $avatar-size;

  &.inverse {
    transform: rotate(180deg);
  }
}

// Facts
.facts {
  margin-top: 2 * $block-margin;

  > li {
    margin-bottom: .25em;

    .fa-li {
      color: lighten($color-base, 25%);
      margin-top: 2px;
    }
  }
}

// Social buttons
.social-buttons {
  margin-top: $block-margin;

  a {
    display: inline-block;
    text-decoration: none;
    margin-right: ($font-size-base / 2) - 3;

    &.twitter .fa-circle {
      color: $color-twitter;
    }

    &.github .fa-circle {
      color: $color-github;
    }

    &.facebook .fa-circle {
      color: $color-facebook;
    }

    &.tumblr .fa-circle {
      color: $color-tumblr;
    }

    &.xing .fa-circle {
      color: $color-xing;
    }

    &.linkedin .fa-circle {
      color: $color-linkedin;
    }
  }
}

div.tooltip {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: 0.72rem;

  .tooltip-inner {
    background-color: $color-twitter;
  }
  &.bs-tooltip-top .arrow::before {
    border-top-color: $color-twitter;
    margin-left: -10px;
  }
}

// Bird move animation
#twitter-bird-box {
  display: none;
  width: 30px;
  height: 30px;
}

#twitter-bird {
  display: none;
  background-image: url(../images/twitter-bird-sprite.png);
  background-size: 120px 30px;
  height: 30px;
  width: 30px;
}

.twitter-bird-fly {
  animation: fly 0.2s steps(3) 18;
}

@keyframes fly {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -90px 0;
  }
}

.twitter-bird-move {
  position: relative;
  animation: bird-move 3s steps(100) 1 forwards;
}

@keyframes bird-move {
  0% {
    top: 0px;
    left: 0px;
    transform: scaleX(1);
  }
  59% {
    transform: scaleX(1);
  }
  60% {
    top: -35px;
    left: 300px;
    transform: scaleX(-1);
  }
  100% {
    top: -66px;
    left: 148px;
    transform: scaleX(-1);
  }
}

// Footer
footer .content {
  border-top: 1px solid $color-footer-separator;
  color: $color-footer;
  font-size: $font-size-footer;
  margin-top: 1.5 * $block-margin;
  padding-top: $block-margin;
}

// center elements on big screens
@media screen and (min-width: 768px) {
  .name {
    margin-top: 0;
  }
}

@import 'print';
