@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $spread $color;
        -moz-box-shadow:inset $top $left $blur $spread $color;
        box-shadow:inset $top $left $blur $spread $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $spread $color;
        -moz-box-shadow: $top $left $blur $spread $color;
        box-shadow: $top $left $blur $spread $color;
    }
}

@mixin shake ($n) {
    0% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }
    $pos: 1;
    @for $i from 1 through 9 {
        $pos: $pos * -1;
        $m: ($n / $i) * $pos;
        #{$i * 10%} {
            -webkit-transform: rotateZ($m * 1deg);
            transform: rotateZ($m * 1deg);
        }
    }
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }
}