@import "variables";
@import "mixins";

// Global
body {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    color: $color-base;

    // preloading images
    &:after {
        display: none;
        content: url(../Images/twitter-bird-sprite.png);
    }
}
strong {
    font-weight: $font-weight-strong;
}

h1 {
    margin-top: $block-margin;
    color: $color-header;
    font-weight: $font-weight-strong;
    font-size: $font-size-h1;
}

// Avatar
.avatar {
    width: $avatar-size;

    &.inverse {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

// Facts
@-webkit-keyframes shake {
    @include shake(30);
}
@keyframes shake {
    @include shake(30);
}

.facts {
    margin-top: 2 * $block-margin;

    >li {
        margin-bottom: 3px;
        opacity: 1;
        transition: opacity $fade-transition;

        i {
            color: lighten($color-base, 25%);
        }

        &.grey-out {
            opacity: 0.5;
        }
        &:hover > i.fa-li {
            -webkit-animation: shake 1000ms;
            animation: shake 1000ms;
        }
    }
}

// Social buttons
@-webkit-keyframes pulse {
    @include pulse(0.85);
}
@keyframes pulse {
    @include pulse(0.85);
}

.social-buttons {
    margin-top: $block-margin;

    div.tooltip {
        font-family: $font-family-base;
        font-weight: $font-weight-base;
        font-size: 11px;
    }

    a {
        margin-right: 5px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border-color: transparent;
        font-size: 18px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #fff;

        i.fa {
            line-height: 27px;
        }

        &.twitter {
            background-color: $color-twitter;
            div.tooltip {
                .tooltip-inner {
                    background-color: $color-twitter;
                }
                .tooltip-arrow {
                    border-top-color: $color-twitter;
                    left: 70% !important;
                }
            }
        }
        &.facebook {
            background-color: $color-facebook;
        }
        &.github {
            background-color: $color-github;
        }
        &.xing {
            background-color: $color-xing;
        }
        &.linkedin {
            background-color: $color-linkedin;
        }
        &.tumblr {
            background-color: $color-tumblr;
        }
    }

    a:hover, a:active, a:focus {
        color: #fff;
        border-color: transparent;
        -webkit-animation: pulse 1200ms;
        animation: pulse 1200ms;
    }
}

// Bird move animation
#twitter-bird-box {
    display: none;
    width: 30px;
    height: 30px;
}
#twitter-bird {
    display: none;
    background-image: url(../Images/twitter-bird-sprite.png);
    background-size: 120px 30px;
    height: 30px;
    width: 30px;
}
.twitter-bird-fly {
    -webkit-animation: fly 0.2s steps(3) 18;
    animation: fly 0.2s steps(3) 18;
}
@mixin bird-fly-keyframes {
    0% { background-position: 0 0; }
    100% { background-position: -90px 0; }
}
@-webkit-keyframes fly {
    @include bird-fly-keyframes;
}
@keyframes fly {
    @include bird-fly-keyframes;
}

.twitter-bird-move {
    position: relative;
    -webkit-animation: bird-move 3s steps(100) 1 forwards;
    animation: bird-move 3s steps(100) 1 forwards;
}
@mixin bird-move-keyframes {
    0% {
        top: 0px;
        left: 0px;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    59% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    60% {
        top: -35px;
        left: 250px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    100% {
        top: -66px;
        left: 148px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}
@-webkit-keyframes bird-move {
    @include bird-move-keyframes;
}
@keyframes bird-move {
    @include bird-move-keyframes;
}

// Footer
footer {
    border-top: 1px solid $color-footer-separator;
    color: $color-footer;
    font-size: $font-size-footer;
    margin-top: $block-margin + 5px;
    padding-top: $block-margin;
}

// center elements on big screens
@media screen and (min-width: 768px) {
    .name,
    .social-buttons {
        text-align: left;
    }
    .name {
        margin-top: 0;
    }
}

@import "print";