$color-twitter: #1BB2E9;
$color-facebook: #3C599F;
$color-github: #323031;
$color-xing: #005051;
$color-tumblr: #2C4762;
$color-footer: #949494;
$block-margin: 30px;
$avatar-size: 170px;

// Global
body {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
}

h1 {
    font-weight: 600;
}

// Avatar
.avatar {
    width: $avatar-size;
}

// Facts
.facts {
    margin-top: $block-margin;

    >li {
        margin-bottom: 3px;
    }
}

// Social buttons
.social-buttons {
    margin-top: $block-margin + 10px;

    a {
        width: 40px;
        height: 40px;
        font-size: 18px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        &.twitter {
            div.tooltip {
                font-family: 'Indie Flower', cursive;

                .tooltip-inner {
                    background-color: $color-twitter;
                }
                .tooltip-arrow {
                    border-top-color: $color-twitter;
                    left: 70% !important;
                }
            }
        }
    }

    a:hover, a:active, a:focus {
        color: #fff;
        border-color: transparent;
        &.twitter {
            background-color: $color-twitter;
        }
        &.facebook {
            background-color: $color-facebook;
        }
        &.github {
            background-color: $color-github;
        }
        &.xing {
            background-color: $color-xing;
        }
        &.tumblr {
            background-color: $color-tumblr;
        }
    }
}

// Bird move animation
#twitter-bird {
    background-image: url(../Images/twitter-bird-sprite.png);
    background-size: 120px 30px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    -webkit-animation: fly 0.2s steps(3) 28;
    -moz-animation: fly 0.2s steps(3) 28;
    animation: fly 0.2s steps(3) 28;
}
@-webkit-keyframes fly {
    0% { background-position: 0 0; }
    100% { background-position: -90px 0; }
}
@-moz-keyframes fly {
    0% { background-position: 0 0; }
    100% { background-position: -90px 0; }
}
@keyframes fly {
    from { background-position: 0 0; }
    to { background-position: -90px 0; }
}

#twitter-bird-box {
    display: none;
    width: 30px;
    height: 30px;
}

.twitter-bird-move {
    position: relative;
    -webkit-animation: bird-move 5s steps(100) 0;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: bird-move 5s steps(100) 0;
    -moz-animation-fill-mode: forwards;
    animation: bird-move 5s steps(100) 0;
    animation-fill-mode: forwards;
}
@mixin bird-move-keyframes {
    0% {
        top: 0px;
        left: 0px;
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        transform: scaleX(1);
    }
    49% {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        transform: scaleX(1);
    }
    50% {
        top: -200px;
        left: 300px;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    100% {
        top: -315px;
        left: 205px;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}
@-webkit-keyframes bird-move {
    @include bird-move-keyframes;
}
@-moz-keyframes bird-move {
    @include bird-move-keyframes;
}
@keyframes bird-move {
    @include bird-move-keyframes;
}

// Footer
footer {
    color: $color-footer;
    font-size: 14px;
    margin-top: 10px;
}