body {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Indie Flower', cursive;
  font-size: 18px; }

.container.main-content {
  width: 450px; }

.fa-ul > li {
  margin-bottom: 3px; }

.facts {
  margin-top: 30px; }

.circular {
  width: 170px;
  height: 170px;
  border-radius: 170px;
  background-size: 170px;
  background-repeat: no-repeat; }
  .circular.tschortsch {
    background-image: url("//www.gravatar.com/avatar/41c42656cf67fce9e98e1053b3c0c889?s=340px"); }

.social-buttons {
  margin-top: 30px; }
  .social-buttons a {
    width: 40px;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .social-buttons a:hover, .social-buttons a:active, .social-buttons a:focus {
    color: #fff;
    border-color: transparent; }
    .social-buttons a:hover.twitter, .social-buttons a:active.twitter, .social-buttons a:focus.twitter {
      background-color: #1bb2e9; }
    .social-buttons a:hover.facebook, .social-buttons a:active.facebook, .social-buttons a:focus.facebook {
      background-color: #3c599f; }
    .social-buttons a:hover.github, .social-buttons a:active.github, .social-buttons a:focus.github {
      background-color: #323031; }
    .social-buttons a:hover.xing, .social-buttons a:active.xing, .social-buttons a:focus.xing {
      background-color: #005051; }
    .social-buttons a:hover.tumblr, .social-buttons a:active.tumblr, .social-buttons a:focus.tumblr {
      background-color: #2c4762; }
