body {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Indie Flower", "Helvetica Neue", Helvetica, Arial, cursive;
  font-size: 18px; }
  body:after {
    display: none;
    content: url(../Images/twitter-bird-sprite.png); }

h1 {
  font-weight: 600; }

.avatar {
  width: 170px; }

.facts {
  margin-top: 30px; }
  .facts > li {
    margin-bottom: 3px; }

.social-buttons {
  margin-top: 40px; }
  .social-buttons a {
    width: 40px;
    height: 40px;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .social-buttons a.twitter div.tooltip {
      font-family: "Indie Flower", "Helvetica Neue", Helvetica, Arial, cursive; }
      .social-buttons a.twitter div.tooltip .tooltip-inner {
        background-color: #1bb2e9; }
      .social-buttons a.twitter div.tooltip .tooltip-arrow {
        border-top-color: #1bb2e9;
        left: 70% !important; }
    .social-buttons a i.fa {
      line-height: 27px; }
  .social-buttons a:hover, .social-buttons a:active, .social-buttons a:focus {
    color: #fff;
    border-color: transparent; }
    .social-buttons a:hover.twitter, .social-buttons a:active.twitter, .social-buttons a:focus.twitter {
      background-color: #1bb2e9; }
    .social-buttons a:hover.facebook, .social-buttons a:active.facebook, .social-buttons a:focus.facebook {
      background-color: #3c599f; }
    .social-buttons a:hover.github, .social-buttons a:active.github, .social-buttons a:focus.github {
      background-color: #323031; }
    .social-buttons a:hover.xing, .social-buttons a:active.xing, .social-buttons a:focus.xing {
      background-color: #005051; }
    .social-buttons a:hover.tumblr, .social-buttons a:active.tumblr, .social-buttons a:focus.tumblr {
      background-color: #2c4762; }

#twitter-bird-box {
  display: none;
  width: 30px;
  height: 30px; }

#twitter-bird {
  display: none;
  background-image: url(../Images/twitter-bird-sprite.png);
  background-size: 120px 30px;
  height: 30px;
  width: 30px; }

.twitter-bird-fly {
  -webkit-animation: fly 0.2s steps(3) 28;
  animation: fly 0.2s steps(3) 28; }

@-webkit-keyframes fly {
  0% {
    background-position: 0 0; }

  100% {
    background-position: -90px 0; } }

@keyframes fly {
  0% {
    background-position: 0 0; }

  100% {
    background-position: -90px 0; } }

.twitter-bird-move {
  position: relative;
  -webkit-animation: bird-move 5s steps(100) 1 forwards;
  animation: bird-move 5s steps(100) 1 forwards; }

@-webkit-keyframes bird-move {
  0% {
    top: 0px;
    left: 0px;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

  49% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

  50% {
    top: -200px;
    left: 300px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }

  100% {
    top: -316px;
    left: 188px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); } }

@keyframes bird-move {
  0% {
    top: 0px;
    left: 0px;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

  49% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

  50% {
    top: -200px;
    left: 300px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }

  100% {
    top: -316px;
    left: 188px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); } }

footer {
  color: #949494;
  font-size: 14px;
  margin-top: 10px; }
