body {
  padding-top: 3em;
  padding-bottom: 3em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #333333; }
  body:after {
    display: none;
    content: url(../Images/twitter-bird-sprite.png); }

strong {
  font-weight: 400; }

h1 {
  margin-top: 1em;
  color: #000000;
  font-weight: 400;
  font-size: 2em; }

.avatar {
  width: 170px; }
  .avatar.inverse {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.facts {
  margin-top: 2em; }
  .facts > li {
    margin-bottom: 0.25em; }
    .facts > li i.fa-li {
      color: #737373;
      margin-top: 2px; }

.social-buttons {
  margin-top: 1em; }
  .social-buttons a {
    margin-right: 6px;
    padding: 0;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border-color: transparent;
    font-size: 21px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff; }
    .social-buttons a i.fa {
      line-height: 46px; }
    .social-buttons a.twitter {
      background-color: #55acee; }
    .social-buttons a.github {
      background-color: #333333; }
    .social-buttons a.facebook {
      background-color: #3B5998; }
    .social-buttons a.tumblr {
      background-color: #35465c; }
    .social-buttons a.xing {
      background-color: #026466; }
    .social-buttons a.linkedin {
      background-color: #0077b5; }
  .social-buttons a:hover, .social-buttons a:active, .social-buttons a:focus {
    color: #fff;
    border-color: transparent; }

div.tooltip {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 0.72rem; }
  div.tooltip .tooltip-inner {
    background-color: #55acee; }
  div.tooltip.bs-tether-element-attached-bottom .tooltip-arrow {
    border-top-color: #55acee;
    left: 70% !important; }

#twitter-bird-box {
  display: none;
  width: 30px;
  height: 30px; }

#twitter-bird {
  display: none;
  background-image: url(../Images/twitter-bird-sprite.png);
  background-size: 120px 30px;
  height: 30px;
  width: 30px; }

.twitter-bird-fly {
  -webkit-animation: fly 0.2s steps(3) 18;
  animation: fly 0.2s steps(3) 18; }

@-webkit-keyframes fly {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -90px 0; } }
@keyframes fly {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -90px 0; } }
.twitter-bird-move {
  position: relative;
  -webkit-animation: bird-move 3s steps(100) 1 forwards;
  animation: bird-move 3s steps(100) 1 forwards; }

@-webkit-keyframes bird-move {
  0% {
    top: 0px;
    left: 0px;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  59% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  60% {
    top: -35px;
    left: 300px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }
  100% {
    top: -66px;
    left: 148px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); } }
@keyframes bird-move {
  0% {
    top: 0px;
    left: 0px;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  59% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  60% {
    top: -35px;
    left: 300px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }
  100% {
    top: -66px;
    left: 148px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); } }
footer .content {
  border-top: 1px solid #f5f5f5;
  color: #949494;
  font-size: 0.75em;
  margin-top: 1.5em;
  padding-top: 1em; }

@media screen and (min-width: 768px) {
  .name,
  .social-buttons {
    text-align: left; }

  .name {
    margin-top: 0; } }
@media print {
  .social-buttons a {
    display: block;
    font-family: "Source Sans Pro", sans-serif; } }

/*# sourceMappingURL=styles.css.map */
