$color-twitter: #1BB2E9;
$color-facebook: #3C599F;
$color-github: #323031;
$color-xing: #005051;
$color-tumblr: #2C4762;
$block-margin: 30px;
$profile-image-size: 170px;

body {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
}

.fa-ul>li {
    margin-bottom: 3px;
}

.facts {
    margin-top: $block-margin;
}

.circular {
	width: $profile-image-size;
	height: $profile-image-size;
    border-radius: $profile-image-size;
    background-size: $profile-image-size;
    background-repeat: no-repeat;

    &.tschortsch {
        background-image: url("//www.gravatar.com/avatar/41c42656cf67fce9e98e1053b3c0c889?s=" + ($profile-image-size * 2));
    }
}

.social-buttons {
    margin-top: $block-margin;

    a {
        width: 40px;
        font-size: 18px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    a:hover, a:active, a:focus {
        color: #fff;
        border-color: transparent;
        &.twitter {
            background-color: $color-twitter;
        }
        &.facebook {
            background-color: $color-facebook;
        }
        &.github {
            background-color: $color-github;
        }
        &.xing {
            background-color: $color-xing;
        }
        &.tumblr {
            background-color: $color-tumblr;
        }
    }
}